/* General Format */
/* selected tag{
    property: value;
} */

h1 {
  color: blue;
}
/* color on li, using RGV */
li {
  color: rgb(255, 97, 0);
}

p {
  color: #329ba8;
}

h4 {
  color: rgba(255, 97, 0, 0.5);
}
