/* General Format */
/* selected tag{
    property: value;
} */

/* Color on h1, using color name */
h1 {
  color: blue;
}
/* color on li, using RGB */
li {
  color: rgb(255, 97, 0);
}
/* color on paragraph, usingg hex codee */
p {
  color: #329ba8;
}
/* color on  */
h4 {
  color: rgba(255, 97, 0, 0.5);
}
