body {
  background-color: irl;
}

div {
  background-color: rgb(154, 154, 255);
  border-color: blue;
  border-width: 5px;
  border-style: double;
}

p {
  color: yellow;
}
span {
  background: black;
  color: red;
}
