/* setting style of div with class names.
classname has a (.) oot before their name */
.firstDiv {
  color: blue;
}

.secondDiv {
  color: red;
}

/* styling on a paragraph with ID 
IDs use hashtag before ID name */
#singledout {
  color: green;
  text-decoration: underline;
}

/* applying style to adjacent siblings
this selects all unordered list immediate after h3 */
h3 + ul {
  border: 4px dotted purple;
}

/* Styling all anchor tags inside/adjacent to a lins */
li a {
  color: red;
}

li a[href=]

/* asterix (*) overrides all elements styyling except IDs*/
/* * {
  color: black;
}
 */
