/* setting style of div with class names.
classname has a (.) oot before their name */
.firstDiv {
  color: blue;
}

.secondDiv {
  color: red;
}

/* styling on a paragraph with ID 
IDs use hashtag before ID name */

#singledout {
  color: green;
  text-decoration: underline;
}

/* asterix ()*/
* {
  color: black;
}
