h1 {
  text-align: center;
  font-family: "Farro", sans-serif;
}

.art {
  margin: auto;
}

thead {
  background-color: red;
  font-family: "Farro", sans-serif;
}

#hone {
  background-color: #3a86ff;
}

#htwo {
  background-color: #8338ec;
}

#hthree {
  background-color: #ff006e;
}

#hfour {
  background-color: #fb5607;
}

#hfive {
  background-color: #ffbe0b;
}

td {
  background-color: black;
  height: 300px;
  width: 200px;
  border: 6px solid white;
}

#one {
  background-color: #ffbe0b;
}

#two {
  background-color: #fb5607;
}

#three {
  background-color: #ff006e;
}

#four {
  background-color: #8338ec;
}

#five {
  background-color: #3a86ff;
}
