h1 {
  font-family: "Arial";
}

p {
  font-family: monospace;
}

body {
  font-size: 20px;
}

/* dynamic font size compared to other element */
#two {
  font-size: 1.5em;
}

/* add italic styling
    add font weight () */
p {
  font-style: italic;
  font-weight: bold;
}
